.my-form {
    .form-group {
        display: flex;
        align-items: center;
        margin-bottom: 15px;

        label {
            width: 150px;
            margin-right: 10px;
        }

        input {
            flex: 1;
            padding: 8px;
        }
    }

    button {
        width: 300px;
        padding: 10px 20px;
        background-color: #3498db;
        color: white;
        border: none;
        cursor: pointer;
        display: block;
        margin: 20px auto;
    }

    @media (max-width: 768px) {
        .form-group {
            flex-direction: column;
            align-items: flex-start;

            label {
                width: auto;
                margin-bottom: 5px;
            }
        }

        button {
            width: 50%;
        }
    }


    @media (max-width: 480px) {
        button {
            width: 100%;
        }
    }
}